In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#Lectura de base de datos
datos = pd.read_excel("/content/Anexo estadístico de ofertas de empleo registradas RED (1).xlsx")

In [ ]:
#Leer las hojas del archivo
libro = pd.ExcelFile("/content/Anexo estadístico de ofertas de empleo registradas RED (1).xlsx")
print(libro.sheet_names)

['Índice', 'Conceptos y notas técnicas', 'Nacional y departamental', 'Municipal', '23 Ciudades', 'Nivel Educativo', 'Rango Salarial', 'Rama actividad', 'Experiencia', 'Ocupación']

In [ ]:
#Del libro, nos interesa las ofertas de las 23 ciudades principales, el nivel educativo, rango salarial y la experiencia
datos_ciudades = pd.read_excel(libro,sheet_name="23 Ciudades")
datos_educacion = pd.read_excel(libro,sheet_name="Nivel Educativo")
datos_salario = pd.read_excel(libro,sheet_name="Rango Salarial")
datos_experiencia = pd.read_excel(libro,sheet_name="Experiencia")

In [ ]:
#Imprimimos los datos de las 23 ciudades principales
datos_ciudades

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Anexo estadístico de ofertas de empleo registr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Total ofertas de empleo registradas por año y mes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,según total 13 y 23 ciudades y áreas metropoli...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Serie mensual 2019 - 2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Dominio Geográfico,2019,2019,2019,2019,2019,2019,2019,2019,2019,...,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024
11,NaN,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,...,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Total 23 Ciudades,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Armenia,747,727,934,697,804,766,829,834,706,...,1003,1098,1065,1089,1162,1116,1143,1172,1149,997
16,Barranquilla A.M.,3840,3817,4466,3752,4009,3821,3906,4401,3611,...,5118,5678,5600,5140,5619,5270,5376,6323,5296,4457
17,Bogotá D.C.,77457,74497,88384,76178,91863,85102,94192,94476,83328,...,62079,72418,66765,61637,69669,57887,64463,71349,63702,56765
18,Bucaramanga A.M.,4135,3728,4780,4109,4435,4266,4308,4308,3835,...,4547,5702,5684,5565,6085,5042,5815,6429,6072,4842
19,Cali A.M.,10196,9269,10742,9569,11482,10283,10994,11476,8738,...,10524,12429,11702,10283,11439,10170,11209,12045,10202,8732
20,Cartagena,2004,1951,2067,1757,2060,1923,2081,2093,1870,...,2492,2818,2571,2646,2813,2566,2666,2797,2501,2154
21,Cúcuta A.M.,1042,1082,1203,959,1212,1093,1105,1102,934,...,1165,1224,1346,1386,1602,1440,1544,1460,1237,1029
22,Florencia,218,164,308,230,245,163,333,325,275,...,166,202,260,191,259,242,274,270,235,195
23,Ibagué,1070,1060,1488,1059,1322,1096,1131,1178,955,...,1327,1688,1787,1699,1939,1699,1834,2011,1628,1412
24,Manizales A.M.,1185,1051,1321,1305,1415,1317,1407,1363,1354,...,1629,1704,1876,1737,2001,1973,1989,2276,1971,1791
25,Medellín A.M.,20066,18244,23437,20460,23319,21599,21793,24822,21493,...,21849,27318,26972,25437,29952,27536,29296,30873,27663,23676
26,Montería,493,496,559,518,445,476,488,531,411,...,297,422,442,419,434,406,393,439,341,321
27,Neiva,975,1043,1156,1000,1397,979,1186,1228,987,...,998,1190,1223,1259,1399,1275,1394,1497,1205,1081
28,Pasto,616,462,632,589,639,583,602,652,586,...,516,724,565,604,620,698,702,760,611,576
29,Pereira A.M.,2464,2463,3246,2635,3198,2795,3032,3289,3016,...,3319,3992,3771,3373,3685,3334,3560,4294,3755,3215
30,Popayán,400,430,607,511,625,523,554,634,576,...,438,442,384,344,517,392,411,479,425,383
31,Quibdó,152,121,114,88,142,117,103,152,123,...,76,60,76,77,105,116,93,102,79,71
32,Riohacha,255,195,303,196,232,213,246,234,185,...,137,222,274,199,305,211,215,299,246,195
33,Santa Marta,676,595,828,727,737,735,726,683,603,...,849,890,858,881,955,862,812,1054,881,814
34,Sincelejo,264,231,310,297,293,224,219,296,265,...,174,224,223,204,218,216,206,223,161,198
35,Tunja,586,535,661,595,614,654,685,837,578,...,622,789,754,723,899,742,873,891,727,664
36,Valledupar,506,403,686,470,564,445,487,542,427,...,563,663,677,656,719,608,625,715,623,557
37,Villavicencio,1726,1749,1954,1689,2073,1801,1847,2091,1758,...,1729,1961,1983,1862,2227,1916,1992,2094,1732,1477
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Total 13 Ciudades,126294,119869,144279,124579,147472,136155,146886,151782,131889,...,116591,138078,131064,121788,138085,119937,130839,143150,126711,110447
40,Total 23 Ciudades,131073,124313,150186,129390,153125,140974,152254,157547,136614,...,121617,143858,136858,127411,144623,125717,136885,149852,132442,115602

In [ ]:
#Imprimimos los datos del salario
datos_salario

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,23 ciudades,Entre $1.500.001 y $2.000.000,10682,10305,11959,10072,12570,11363,12224,12854,...,16677,19480,18511,17224,19311,16240,18523,19064,16352,14620
186,23 ciudades,Entre $2.000.001 y $3.000.000,9483,8603,10014,9092,10339,9516,9968,9455,...,13760,16514,15571,14342,16439,14323,15825,17025,14228,12437
187,23 ciudades,Entre $3.000.001 y $4.000.000,4824,4194,4793,4378,4850,4849,4768,4580,...,4537,5411,5050,4666,5356,4416,4537,4832,4418,4118
188,23 ciudades,Más de $4.000.000,4305,4023,4479,4135,4699,4677,5397,5468,...,5439,6498,5933,5481,6381,5550,5440,5679,5006,4377
189,23 ciudades,A convenir,13060,11466,14309,11951,14467,13152,15207,15558,...,30199,35597,33817,31152,34499,30861,33861,37274,33489,29765

In [ ]:
#Imprimimos los datos del nivel de educacion
datos_educacion

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,23 ciudades,Tecnológico,13121,11492,14368,11929,14172,13078,13283,13114,...,11576,14091,12855,11386,12880,11389,12084,13027,11135,9702
261,23 ciudades,Universitario,37446,35189,42242,34355,41960,37933,38433,38092,...,30433,35788,32454,30822,33320,29358,30652,31573,27661,24298
262,23 ciudades,Especialización,3212,2778,3311,2844,3444,3282,3689,3593,...,3491,4392,4076,3365,3948,3555,3589,3916,3170,2789
263,23 ciudades,Maestría,384,341,347,641,709,356,453,438,...,288,328,274,455,603,372,300,238,204,403
264,23 ciudades,Doctorado,33,36,32,52,54,56,74,50,...,192,249,248,303,428,381,567,683,487,280

In [ ]:
#Imprimimos los datos de la experiencia
datos_experiencia

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,23 ciudades,3 años de experiencia,9164,8300,9749,8267,9857,9281,9730,10110,...,9624,11378,10566,9340,10418,9529,9634,10316,8898,7710
236,23 ciudades,4 años de experiencia,2499,2039,2387,2092,2483,2217,2227,2292,...,1597,1696,1668,1610,1727,1544,1513,1571,1275,1224
237,23 ciudades,5 años de experiencia,2729,2402,2872,2233,2887,2660,2886,2876,...,4216,4717,4257,4003,4476,4285,4368,4437,3843,3641
238,23 ciudades,De 6 a 10 años de experiencia,2762,2873,3209,2727,2952,3316,3437,3662,...,3437,4327,3980,3649,4403,4148,4295,4770,4208,3026
239,23 ciudades,Más de 10 años de experiencia,353,322,311,259,357,327,341,379,...,259,297,299,258,286,320,319,304,229,161

In [ ]:
#Eliminamos las primeras filas de los datos por ciudad y las ultimas 2 que son totalizadas
datos_ciudades = datos_ciudades.drop(index=[38,39,40])
datos_ciudades = datos_ciudades.iloc[15:].reset_index(drop=True)
datos_ciudades

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70
0,Armenia,747,727,934,697,804,766,829,834,706,...,1003,1098,1065,1089,1162,1116,1143,1172,1149,997
1,Barranquilla A.M.,3840,3817,4466,3752,4009,3821,3906,4401,3611,...,5118,5678,5600,5140,5619,5270,5376,6323,5296,4457
2,Bogotá D.C.,77457,74497,88384,76178,91863,85102,94192,94476,83328,...,62079,72418,66765,61637,69669,57887,64463,71349,63702,56765
3,Bucaramanga A.M.,4135,3728,4780,4109,4435,4266,4308,4308,3835,...,4547,5702,5684,5565,6085,5042,5815,6429,6072,4842
4,Cali A.M.,10196,9269,10742,9569,11482,10283,10994,11476,8738,...,10524,12429,11702,10283,11439,10170,11209,12045,10202,8732
5,Cartagena,2004,1951,2067,1757,2060,1923,2081,2093,1870,...,2492,2818,2571,2646,2813,2566,2666,2797,2501,2154
6,Cúcuta A.M.,1042,1082,1203,959,1212,1093,1105,1102,934,...,1165,1224,1346,1386,1602,1440,1544,1460,1237,1029
7,Florencia,218,164,308,230,245,163,333,325,275,...,166,202,260,191,259,242,274,270,235,195
8,Ibagué,1070,1060,1488,1059,1322,1096,1131,1178,955,...,1327,1688,1787,1699,1939,1699,1834,2011,1628,1412
9,Manizales A.M.,1185,1051,1321,1305,1415,1317,1407,1363,1354,...,1629,1704,1876,1737,2001,1973,1989,2276,1971,1791
10,Medellín A.M.,20066,18244,23437,20460,23319,21599,21793,24822,21493,...,21849,27318,26972,25437,29952,27536,29296,30873,27663,23676
11,Montería,493,496,559,518,445,476,488,531,411,...,297,422,442,419,434,406,393,439,341,321
12,Neiva,975,1043,1156,1000,1397,979,1186,1228,987,...,998,1190,1223,1259,1399,1275,1394,1497,1205,1081
13,Pasto,616,462,632,589,639,583,602,652,586,...,516,724,565,604,620,698,702,760,611,576
14,Pereira A.M.,2464,2463,3246,2635,3198,2795,3032,3289,3016,...,3319,3992,3771,3373,3685,3334,3560,4294,3755,3215
15,Popayán,400,430,607,511,625,523,554,634,576,...,438,442,384,344,517,392,411,479,425,383
16,Quibdó,152,121,114,88,142,117,103,152,123,...,76,60,76,77,105,116,93,102,79,71
17,Riohacha,255,195,303,196,232,213,246,234,185,...,137,222,274,199,305,211,215,299,246,195
18,Santa Marta,676,595,828,727,737,735,726,683,603,...,849,890,858,881,955,862,812,1054,881,814
19,Sincelejo,264,231,310,297,293,224,219,296,265,...,174,224,223,204,218,216,206,223,161,198
20,Tunja,586,535,661,595,614,654,685,837,578,...,622,789,754,723,899,742,873,891,727,664
21,Valledupar,506,403,686,470,564,445,487,542,427,...,563,663,677,656,719,608,625,715,623,557
22,Villavicencio,1726,1749,1954,1689,2073,1801,1847,2091,1758,...,1729,1961,1983,1862,2227,1916,1992,2094,1732,1477

In [ ]:
#Creamos las columnas de la base de datos
meses = [1,2,3,4,5,6,7,8,9,10,11,12]
anhos = list(range(2019,2025))
nombres_columnas = []
for anho in anhos:
  if anho == 2019:
    inicio = meses[2:]
  else:
    inicio = meses
  nombres_columnas.extend([f"{mes}/{anho}" for mes in inicio])
nombres_columnas.insert(0,"Ciudad")
datos_ciudades.columns = nombres_columnas
datos_ciudades

,Ciudad,3/2019,4/2019,5/2019,6/2019,7/2019,8/2019,9/2019,10/2019,11/2019,...,3/2024,4/2024,5/2024,6/2024,7/2024,8/2024,9/2024,10/2024,11/2024,12/2024
0,Armenia,747,727,934,697,804,766,829,834,706,...,1003,1098,1065,1089,1162,1116,1143,1172,1149,997
1,Barranquilla A.M.,3840,3817,4466,3752,4009,3821,3906,4401,3611,...,5118,5678,5600,5140,5619,5270,5376,6323,5296,4457
2,Bogotá D.C.,77457,74497,88384,76178,91863,85102,94192,94476,83328,...,62079,72418,66765,61637,69669,57887,64463,71349,63702,56765
3,Bucaramanga A.M.,4135,3728,4780,4109,4435,4266,4308,4308,3835,...,4547,5702,5684,5565,6085,5042,5815,6429,6072,4842
4,Cali A.M.,10196,9269,10742,9569,11482,10283,10994,11476,8738,...,10524,12429,11702,10283,11439,10170,11209,12045,10202,8732
5,Cartagena,2004,1951,2067,1757,2060,1923,2081,2093,1870,...,2492,2818,2571,2646,2813,2566,2666,2797,2501,2154
6,Cúcuta A.M.,1042,1082,1203,959,1212,1093,1105,1102,934,...,1165,1224,1346,1386,1602,1440,1544,1460,1237,1029
7,Florencia,218,164,308,230,245,163,333,325,275,...,166,202,260,191,259,242,274,270,235,195
8,Ibagué,1070,1060,1488,1059,1322,1096,1131,1178,955,...,1327,1688,1787,1699,1939,1699,1834,2011,1628,1412
9,Manizales A.M.,1185,1051,1321,1305,1415,1317,1407,1363,1354,...,1629,1704,1876,1737,2001,1973,1989,2276,1971,1791
10,Medellín A.M.,20066,18244,23437,20460,23319,21599,21793,24822,21493,...,21849,27318,26972,25437,29952,27536,29296,30873,27663,23676
11,Montería,493,496,559,518,445,476,488,531,411,...,297,422,442,419,434,406,393,439,341,321
12,Neiva,975,1043,1156,1000,1397,979,1186,1228,987,...,998,1190,1223,1259,1399,1275,1394,1497,1205,1081
13,Pasto,616,462,632,589,639,583,602,652,586,...,516,724,565,604,620,698,702,760,611,576
14,Pereira A.M.,2464,2463,3246,2635,3198,2795,3032,3289,3016,...,3319,3992,3771,3373,3685,3334,3560,4294,3755,3215
15,Popayán,400,430,607,511,625,523,554,634,576,...,438,442,384,344,517,392,411,479,425,383
16,Quibdó,152,121,114,88,142,117,103,152,123,...,76,60,76,77,105,116,93,102,79,71
17,Riohacha,255,195,303,196,232,213,246,234,185,...,137,222,274,199,305,211,215,299,246,195
18,Santa Marta,676,595,828,727,737,735,726,683,603,...,849,890,858,881,955,862,812,1054,881,814
19,Sincelejo,264,231,310,297,293,224,219,296,265,...,174,224,223,204,218,216,206,223,161,198
20,Tunja,586,535,661,595,614,654,685,837,578,...,622,789,754,723,899,742,873,891,727,664
21,Valledupar,506,403,686,470,564,445,487,542,427,...,563,663,677,656,719,608,625,715,623,557
22,Villavicencio,1726,1749,1954,1689,2073,1801,1847,2091,1758,...,1729,1961,1983,1862,2227,1916,1992,2094,1732,1477

In [ ]:
#Eliminamos las filas innecesarias en la hoja de Nivel educativo
datos_educacion = datos_educacion.iloc[15:].reset_index(drop=True)
datos_educacion

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,Armenia,No se informa,37,21,28,32,39,48,45,69,...,13,13,21,43,32,61,53,30,25,16
1,Armenia,Primaria,3,9,11,8,15,15,5,3,...,12,16,8,12,8,9,5,13,16,19
2,Armenia,Secundaria,55,61,94,59,70,58,66,68,...,91,82,80,97,129,94,72,94,93,81
3,Armenia,Bachillerato,249,235,260,211,261,241,268,323,...,351,369,367,418,364,368,403,442,445,416
4,Armenia,Técnico,159,167,258,211,197,210,210,197,...,231,250,215,201,264,211,242,227,210,185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,23 ciudades,Tecnológico,13121,11492,14368,11929,14172,13078,13283,13114,...,11576,14091,12855,11386,12880,11389,12084,13027,11135,9702
246,23 ciudades,Universitario,37446,35189,42242,34355,41960,37933,38433,38092,...,30433,35788,32454,30822,33320,29358,30652,31573,27661,24298
247,23 ciudades,Especialización,3212,2778,3311,2844,3444,3282,3689,3593,...,3491,4392,4076,3365,3948,3555,3589,3916,3170,2789
248,23 ciudades,Maestría,384,341,347,641,709,356,453,438,...,288,328,274,455,603,372,300,238,204,403
249,23 ciudades,Doctorado,33,36,32,52,54,56,74,50,...,192,249,248,303,428,381,567,683,487,280

In [ ]:
#Creamos las columnas
meses_ed = [1,2,3,4,5,6,7,8,9,10,11,12]
anhos_ed = list(range(2019,2025))
nombres_columnas_ed = []
for anho in anhos_ed:
  if anho == 2019:
    inicio = meses_ed[2:]
  else:
    inicio = meses_ed
  nombres_columnas_ed.extend([f"{mes}/{anho}" for mes in inicio])
nombres_columnas_ed.insert(0,"Ciudad")
nombres_columnas_ed.insert(1,"Nivel Educativo")
datos_educacion.columns = nombres_columnas_ed
datos_educacion

,Ciudad,Nivel Educativo,3/2019,4/2019,5/2019,6/2019,7/2019,8/2019,9/2019,10/2019,...,3/2024,4/2024,5/2024,6/2024,7/2024,8/2024,9/2024,10/2024,11/2024,12/2024
0,Armenia,No se informa,37,21,28,32,39,48,45,69,...,13,13,21,43,32,61,53,30,25,16
1,Armenia,Primaria,3,9,11,8,15,15,5,3,...,12,16,8,12,8,9,5,13,16,19
2,Armenia,Secundaria,55,61,94,59,70,58,66,68,...,91,82,80,97,129,94,72,94,93,81
3,Armenia,Bachillerato,249,235,260,211,261,241,268,323,...,351,369,367,418,364,368,403,442,445,416
4,Armenia,Técnico,159,167,258,211,197,210,210,197,...,231,250,215,201,264,211,242,227,210,185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,23 ciudades,Tecnológico,13121,11492,14368,11929,14172,13078,13283,13114,...,11576,14091,12855,11386,12880,11389,12084,13027,11135,9702
246,23 ciudades,Universitario,37446,35189,42242,34355,41960,37933,38433,38092,...,30433,35788,32454,30822,33320,29358,30652,31573,27661,24298
247,23 ciudades,Especialización,3212,2778,3311,2844,3444,3282,3689,3593,...,3491,4392,4076,3365,3948,3555,3589,3916,3170,2789
248,23 ciudades,Maestría,384,341,347,641,709,356,453,438,...,288,328,274,455,603,372,300,238,204,403
249,23 ciudades,Doctorado,33,36,32,52,54,56,74,50,...,192,249,248,303,428,381,567,683,487,280

In [ ]:
#Eliminamos las filas inncesarias en la hoja de Salario
datos_salario = datos_salario.iloc[15:].reset_index(drop=True)
datos_salario

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,Armenia,Hasta $1.000.000,454,395,591,406,493,476,485,515,...,31,32,26,43,33,39,40,43,29,43
1,Armenia,Entre $1.000.001 y $1.500.000,110,100,129,81,107,93,96,102,...,474,494,496,501,552,483,517,538,533,425
2,Armenia,Entre $1.500.001 y $2.000.000,28,56,51,62,41,37,44,50,...,107,108,121,129,126,112,111,127,105,90
3,Armenia,Entre $2.000.001 y $3.000.000,47,54,30,27,44,31,50,30,...,70,83,71,98,94,112,89,95,88,72
4,Armenia,Entre $3.000.001 y $4.000.000,31,14,18,25,28,14,21,8,...,25,34,28,29,40,47,30,30,55,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,23 ciudades,Entre $1.500.001 y $2.000.000,10682,10305,11959,10072,12570,11363,12224,12854,...,16677,19480,18511,17224,19311,16240,18523,19064,16352,14620
171,23 ciudades,Entre $2.000.001 y $3.000.000,9483,8603,10014,9092,10339,9516,9968,9455,...,13760,16514,15571,14342,16439,14323,15825,17025,14228,12437
172,23 ciudades,Entre $3.000.001 y $4.000.000,4824,4194,4793,4378,4850,4849,4768,4580,...,4537,5411,5050,4666,5356,4416,4537,4832,4418,4118
173,23 ciudades,Más de $4.000.000,4305,4023,4479,4135,4699,4677,5397,5468,...,5439,6498,5933,5481,6381,5550,5440,5679,5006,4377
174,23 ciudades,A convenir,13060,11466,14309,11951,14467,13152,15207,15558,...,30199,35597,33817,31152,34499,30861,33861,37274,33489,29765

In [ ]:
#Creamos las columnas
meses_sl = [1,2,3,4,5,6,7,8,9,10,11,12]
anhos_sl = list(range(2019,2025))
nombres_columnas_sl = []
for anho in anhos_sl:
  if anho == 2019:
    inicio = meses_sl[2:]
  else:
    inicio = meses_sl
  nombres_columnas_sl.extend([f"{mes}/{anho}" for mes in inicio])
nombres_columnas_sl.insert(0,"Ciudad")
nombres_columnas_sl.insert(1,"Rango Salarial")
datos_salario.columns = nombres_columnas_sl
datos_salario

,Ciudad,Rango Salarial,3/2019,4/2019,5/2019,6/2019,7/2019,8/2019,9/2019,10/2019,...,3/2024,4/2024,5/2024,6/2024,7/2024,8/2024,9/2024,10/2024,11/2024,12/2024
0,Armenia,Hasta $1.000.000,454,395,591,406,493,476,485,515,...,31,32,26,43,33,39,40,43,29,43
1,Armenia,Entre $1.000.001 y $1.500.000,110,100,129,81,107,93,96,102,...,474,494,496,501,552,483,517,538,533,425
2,Armenia,Entre $1.500.001 y $2.000.000,28,56,51,62,41,37,44,50,...,107,108,121,129,126,112,111,127,105,90
3,Armenia,Entre $2.000.001 y $3.000.000,47,54,30,27,44,31,50,30,...,70,83,71,98,94,112,89,95,88,72
4,Armenia,Entre $3.000.001 y $4.000.000,31,14,18,25,28,14,21,8,...,25,34,28,29,40,47,30,30,55,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,23 ciudades,Entre $1.500.001 y $2.000.000,10682,10305,11959,10072,12570,11363,12224,12854,...,16677,19480,18511,17224,19311,16240,18523,19064,16352,14620
171,23 ciudades,Entre $2.000.001 y $3.000.000,9483,8603,10014,9092,10339,9516,9968,9455,...,13760,16514,15571,14342,16439,14323,15825,17025,14228,12437
172,23 ciudades,Entre $3.000.001 y $4.000.000,4824,4194,4793,4378,4850,4849,4768,4580,...,4537,5411,5050,4666,5356,4416,4537,4832,4418,4118
173,23 ciudades,Más de $4.000.000,4305,4023,4479,4135,4699,4677,5397,5468,...,5439,6498,5933,5481,6381,5550,5440,5679,5006,4377
174,23 ciudades,A convenir,13060,11466,14309,11951,14467,13152,15207,15558,...,30199,35597,33817,31152,34499,30861,33861,37274,33489,29765

In [ ]:
#Eliminamos las filas innecesarias en la hoja de Experiencia
datos_experiencia = datos_experiencia.iloc[15:].reset_index(drop=True)
datos_experiencia

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,Armenia,Sin experiencia,123,97,164,114,99,87,79,88,...,233,186,200,229,191,189,258,288,326,295
1,Armenia,Menos de 1 año,37,28,40,35,21,28,28,40,...,9,17,25,50,31,67,49,40,32,19
2,Armenia,1 año de experiencia,380,376,506,397,463,428,498,475,...,497,571,529,523,574,517,514,545,517,426
3,Armenia,2 años de experiencia,137,105,128,93,105,128,120,107,...,120,156,169,179,188,170,153,150,131,146
4,Armenia,3 años de experiencia,25,44,33,22,42,24,30,44,...,59,58,55,44,70,58,71,51,48,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,23 ciudades,3 años de experiencia,9164,8300,9749,8267,9857,9281,9730,10110,...,9624,11378,10566,9340,10418,9529,9634,10316,8898,7710
221,23 ciudades,4 años de experiencia,2499,2039,2387,2092,2483,2217,2227,2292,...,1597,1696,1668,1610,1727,1544,1513,1571,1275,1224
222,23 ciudades,5 años de experiencia,2729,2402,2872,2233,2887,2660,2886,2876,...,4216,4717,4257,4003,4476,4285,4368,4437,3843,3641
223,23 ciudades,De 6 a 10 años de experiencia,2762,2873,3209,2727,2952,3316,3437,3662,...,3437,4327,3980,3649,4403,4148,4295,4770,4208,3026
224,23 ciudades,Más de 10 años de experiencia,353,322,311,259,357,327,341,379,...,259,297,299,258,286,320,319,304,229,161

In [ ]:
#Creamos las columnas
meses_exp = [1,2,3,4,5,6,7,8,9,10,11,12]
anhos_exp = list(range(2019,2025))
nombres_columnas_exp = []
for anho in anhos_exp:
  if anho == 2019:
    inicio = meses_exp[2:]
  else:
    inicio = meses_exp
  nombres_columnas_exp.extend([f"{mes}/{anho}" for mes in inicio])
nombres_columnas_exp.insert(0,"Ciudad")
nombres_columnas_exp.insert(1,"Rango Salarial")
datos_experiencia.columns = nombres_columnas_exp
datos_experiencia

,Ciudad,Rango Salarial,3/2019,4/2019,5/2019,6/2019,7/2019,8/2019,9/2019,10/2019,...,3/2024,4/2024,5/2024,6/2024,7/2024,8/2024,9/2024,10/2024,11/2024,12/2024
0,Armenia,Sin experiencia,123,97,164,114,99,87,79,88,...,233,186,200,229,191,189,258,288,326,295
1,Armenia,Menos de 1 año,37,28,40,35,21,28,28,40,...,9,17,25,50,31,67,49,40,32,19
2,Armenia,1 año de experiencia,380,376,506,397,463,428,498,475,...,497,571,529,523,574,517,514,545,517,426
3,Armenia,2 años de experiencia,137,105,128,93,105,128,120,107,...,120,156,169,179,188,170,153,150,131,146
4,Armenia,3 años de experiencia,25,44,33,22,42,24,30,44,...,59,58,55,44,70,58,71,51,48,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,23 ciudades,3 años de experiencia,9164,8300,9749,8267,9857,9281,9730,10110,...,9624,11378,10566,9340,10418,9529,9634,10316,8898,7710
221,23 ciudades,4 años de experiencia,2499,2039,2387,2092,2483,2217,2227,2292,...,1597,1696,1668,1610,1727,1544,1513,1571,1275,1224
222,23 ciudades,5 años de experiencia,2729,2402,2872,2233,2887,2660,2886,2876,...,4216,4717,4257,4003,4476,4285,4368,4437,3843,3641
223,23 ciudades,De 6 a 10 años de experiencia,2762,2873,3209,2727,2952,3316,3437,3662,...,3437,4327,3980,3649,4403,4148,4295,4770,4208,3026
224,23 ciudades,Más de 10 años de experiencia,353,322,311,259,357,327,341,379,...,259,297,299,258,286,320,319,304,229,161

In [ ]:
datos_ciudades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 71 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ciudad   23 non-null     object
 1   3/2019   23 non-null     object
 2   4/2019   23 non-null     object
 3   5/2019   23 non-null     object
 4   6/2019   23 non-null     object
 5   7/2019   23 non-null     object
 6   8/2019   23 non-null     object
 7   9/2019   23 non-null     object
 8   10/2019  23 non-null     object
 9   11/2019  23 non-null     object
 10  12/2019  23 non-null     object
 11  1/2020   23 non-null     object
 12  2/2020   23 non-null     object
 13  3/2020   23 non-null     object
 14  4/2020   23 non-null     object
 15  5/2020   23 non-null     object
 16  6/2020   23 non-null     object
 17  7/2020   23 non-null     object
 18  8/2020   23 non-null     object
 19  9/2020   23 non-null     object
 20  10/2020  23 non-null     object
 21  11/2020  23 non-null     object
 22  12/2020  23 non-null     object
 23  1/2021   23 non-null     object
 24  2/2021   23 non-null     object
 25  3/2021   23 non-null     object
 26  4/2021   23 non-null     object
 27  5/2021   23 non-null     object
 28  6/2021   23 non-null     object
 29  7/2021   23 non-null     object
 30  8/2021   23 non-null     object
 31  9/2021   23 non-null     object
 32  10/2021  23 non-null     object
 33  11/2021  23 non-null     object
 34  12/2021  23 non-null     object
 35  1/2022   23 non-null     object
 36  2/2022   23 non-null     object
 37  3/2022   23 non-null     object
 38  4/2022   23 non-null     object
 39  5/2022   23 non-null     object
 40  6/2022   23 non-null     object
 41  7/2022   23 non-null     object
 42  8/2022   23 non-null     object
 43  9/2022   23 non-null     object
 44  10/2022  23 non-null     object
 45  11/2022  23 non-null     object
 46  12/2022  23 non-null     object
 47  1/2023   23 non-null     object
 48  2/2023   23 non-null     object
 49  3/2023   23 non-null     object
 50  4/2023   23 non-null     object
 51  5/2023   23 non-null     object
 52  6/2023   23 non-null     object
 53  7/2023   23 non-null     object
 54  8/2023   23 non-null     object
 55  9/2023   23 non-null     object
 56  10/2023  23 non-null     object
 57  11/2023  23 non-null     object
 58  12/2023  23 non-null     object
 59  1/2024   23 non-null     object
 60  2/2024   23 non-null     object
 61  3/2024   23 non-null     object
 62  4/2024   23 non-null     object
 63  5/2024   23 non-null     object
 64  6/2024   23 non-null     object
 65  7/2024   23 non-null     object
 66  8/2024   23 non-null     object
 67  9/2024   23 non-null     object
 68  10/2024  23 non-null     object
 69  11/2024  23 non-null     object
 70  12/2024  23 non-null     object
dtypes: object(71)
memory usage: 12.9+ KB

In [ ]:
datos_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 72 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Ciudad           250 non-null    object
 1   Nivel Educativo  250 non-null    object
 2   3/2019           250 non-null    object
 3   4/2019           250 non-null    object
 4   5/2019           250 non-null    object
 5   6/2019           250 non-null    object
 6   7/2019           250 non-null    object
 7   8/2019           250 non-null    object
 8   9/2019           250 non-null    object
 9   10/2019          250 non-null    object
 10  11/2019          250 non-null    object
 11  12/2019          250 non-null    object
 12  1/2020           250 non-null    object
 13  2/2020           250 non-null    object
 14  3/2020           250 non-null    object
 15  4/2020           250 non-null    object
 16  5/2020           250 non-null    object
 17  6/2020           250 non-null    object
 18  7/2020           250 non-null    object
 19  8/2020           250 non-null    object
 20  9/2020           250 non-null    object
 21  10/2020          250 non-null    object
 22  11/2020          250 non-null    object
 23  12/2020          250 non-null    object
 24  1/2021           250 non-null    object
 25  2/2021           250 non-null    object
 26  3/2021           250 non-null    object
 27  4/2021           250 non-null    object
 28  5/2021           250 non-null    object
 29  6/2021           250 non-null    object
 30  7/2021           250 non-null    object
 31  8/2021           250 non-null    object
 32  9/2021           250 non-null    object
 33  10/2021          250 non-null    object
 34  11/2021          250 non-null    object
 35  12/2021          250 non-null    object
 36  1/2022           250 non-null    object
 37  2/2022           250 non-null    object
 38  3/2022           250 non-null    object
 39  4/2022           250 non-null    object
 40  5/2022           250 non-null    object
 41  6/2022           250 non-null    object
 42  7/2022           250 non-null    object
 43  8/2022           250 non-null    object
 44  9/2022           250 non-null    object
 45  10/2022          250 non-null    object
 46  11/2022          250 non-null    object
 47  12/2022          250 non-null    object
 48  1/2023           250 non-null    object
 49  2/2023           250 non-null    object
 50  3/2023           250 non-null    object
 51  4/2023           250 non-null    object
 52  5/2023           250 non-null    object
 53  6/2023           250 non-null    object
 54  7/2023           250 non-null    object
 55  8/2023           250 non-null    object
 56  9/2023           250 non-null    object
 57  10/2023          250 non-null    object
 58  11/2023          250 non-null    object
 59  12/2023          250 non-null    object
 60  1/2024           250 non-null    object
 61  2/2024           250 non-null    object
 62  3/2024           250 non-null    object
 63  4/2024           250 non-null    object
 64  5/2024           250 non-null    object
 65  6/2024           250 non-null    object
 66  7/2024           250 non-null    object
 67  8/2024           250 non-null    object
 68  9/2024           250 non-null    object
 69  10/2024          250 non-null    object
 70  11/2024          250 non-null    object
 71  12/2024          250 non-null    object
dtypes: object(72)
memory usage: 140.8+ KB

In [ ]:
datos_salario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 72 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ciudad          175 non-null    object
 1   Rango Salarial  175 non-null    object
 2   3/2019          175 non-null    object
 3   4/2019          175 non-null    object
 4   5/2019          175 non-null    object
 5   6/2019          175 non-null    object
 6   7/2019          175 non-null    object
 7   8/2019          175 non-null    object
 8   9/2019          175 non-null    object
 9   10/2019         175 non-null    object
 10  11/2019         175 non-null    object
 11  12/2019         175 non-null    object
 12  1/2020          175 non-null    object
 13  2/2020          175 non-null    object
 14  3/2020          175 non-null    object
 15  4/2020          175 non-null    object
 16  5/2020          175 non-null    object
 17  6/2020          175 non-null    object
 18  7/2020          175 non-null    object
 19  8/2020          175 non-null    object
 20  9/2020          175 non-null    object
 21  10/2020         175 non-null    object
 22  11/2020         175 non-null    object
 23  12/2020         175 non-null    object
 24  1/2021          175 non-null    object
 25  2/2021          175 non-null    object
 26  3/2021          175 non-null    object
 27  4/2021          175 non-null    object
 28  5/2021          175 non-null    object
 29  6/2021          175 non-null    object
 30  7/2021          175 non-null    object
 31  8/2021          175 non-null    object
 32  9/2021          175 non-null    object
 33  10/2021         175 non-null    object
 34  11/2021         175 non-null    object
 35  12/2021         175 non-null    object
 36  1/2022          175 non-null    object
 37  2/2022          175 non-null    object
 38  3/2022          175 non-null    object
 39  4/2022          175 non-null    object
 40  5/2022          175 non-null    object
 41  6/2022          175 non-null    object
 42  7/2022          175 non-null    object
 43  8/2022          175 non-null    object
 44  9/2022          175 non-null    object
 45  10/2022         175 non-null    object
 46  11/2022         175 non-null    object
 47  12/2022         175 non-null    object
 48  1/2023          175 non-null    object
 49  2/2023          175 non-null    object
 50  3/2023          175 non-null    object
 51  4/2023          175 non-null    object
 52  5/2023          175 non-null    object
 53  6/2023          175 non-null    object
 54  7/2023          175 non-null    object
 55  8/2023          175 non-null    object
 56  9/2023          175 non-null    object
 57  10/2023         175 non-null    object
 58  11/2023         175 non-null    object
 59  12/2023         175 non-null    object
 60  1/2024          175 non-null    object
 61  2/2024          175 non-null    object
 62  3/2024          175 non-null    object
 63  4/2024          175 non-null    object
 64  5/2024          175 non-null    object
 65  6/2024          175 non-null    object
 66  7/2024          175 non-null    object
 67  8/2024          175 non-null    object
 68  9/2024          175 non-null    object
 69  10/2024         175 non-null    object
 70  11/2024         175 non-null    object
 71  12/2024         175 non-null    object
dtypes: object(72)
memory usage: 98.6+ KB

In [ ]:
datos_experiencia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 72 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ciudad          225 non-null    object
 1   Rango Salarial  225 non-null    object
 2   3/2019          225 non-null    object
 3   4/2019          225 non-null    object
 4   5/2019          225 non-null    object
 5   6/2019          225 non-null    object
 6   7/2019          225 non-null    object
 7   8/2019          225 non-null    object
 8   9/2019          225 non-null    object
 9   10/2019         225 non-null    object
 10  11/2019         225 non-null    object
 11  12/2019         225 non-null    object
 12  1/2020          225 non-null    object
 13  2/2020          225 non-null    object
 14  3/2020          225 non-null    object
 15  4/2020          225 non-null    object
 16  5/2020          225 non-null    object
 17  6/2020          225 non-null    object
 18  7/2020          225 non-null    object
 19  8/2020          225 non-null    object
 20  9/2020          225 non-null    object
 21  10/2020         225 non-null    object
 22  11/2020         225 non-null    object
 23  12/2020         225 non-null    object
 24  1/2021          225 non-null    object
 25  2/2021          225 non-null    object
 26  3/2021          225 non-null    object
 27  4/2021          225 non-null    object
 28  5/2021          225 non-null    object
 29  6/2021          225 non-null    object
 30  7/2021          225 non-null    object
 31  8/2021          225 non-null    object
 32  9/2021          225 non-null    object
 33  10/2021         225 non-null    object
 34  11/2021         225 non-null    object
 35  12/2021         225 non-null    object
 36  1/2022          225 non-null    object
 37  2/2022          225 non-null    object
 38  3/2022          225 non-null    object
 39  4/2022          225 non-null    object
 40  5/2022          225 non-null    object
 41  6/2022          225 non-null    object
 42  7/2022          225 non-null    object
 43  8/2022          225 non-null    object
 44  9/2022          225 non-null    object
 45  10/2022         225 non-null    object
 46  11/2022         225 non-null    object
 47  12/2022         225 non-null    object
 48  1/2023          225 non-null    object
 49  2/2023          225 non-null    object
 50  3/2023          225 non-null    object
 51  4/2023          225 non-null    object
 52  5/2023          225 non-null    object
 53  6/2023          225 non-null    object
 54  7/2023          225 non-null    object
 55  8/2023          225 non-null    object
 56  9/2023          225 non-null    object
 57  10/2023         225 non-null    object
 58  11/2023         225 non-null    object
 59  12/2023         225 non-null    object
 60  1/2024          225 non-null    object
 61  2/2024          225 non-null    object
 62  3/2024          225 non-null    object
 63  4/2024          225 non-null    object
 64  5/2024          225 non-null    object
 65  6/2024          225 non-null    object
 66  7/2024          225 non-null    object
 67  8/2024          225 non-null    object
 68  9/2024          225 non-null    object
 69  10/2024         225 non-null    object
 70  11/2024         225 non-null    object
 71  12/2024         225 non-null    object
dtypes: object(72)
memory usage: 126.7+ KB